<div id="template">
  <div id="painting">
    <p><img class="painting-topmost" title="<%=name13%>" src="img/Jaws.jpg" alt="" width="526" height="644" /><br />
      <strong><%= name13 %></strong>, <%= desc13 %></p>
    <p><img class="painting" title="<%=name14%>" src="img/Late.jpg" alt="" width="526" height="739" /><br />
      <strong><%= name14 %></strong>, <%= desc14 %></p>
    <p><img class="painting" title="<%=name15%>" src="img/bemmi.jpg" alt="" width="526" height="402" /><br />
      <strong><%= name15 %></strong>, <%= desc15 %></p>
    <p><img class="painting" title="<%=name16%>" src="img/Takapenkki.jpg" alt="" width="526" height="438" /><br />
      <strong><%= name16 %></strong>, <%= desc16 %></p>
    <p><img class="painting" title="<%=name17%>" src="img/ajojahti.jpg" alt="" width="526" height="550" /><br />
      <strong><%= name17 %></strong>, <%= desc17 %></p>
    <p><img class="painting" title="<%=name18%>" src="img/Osuma.jpg" alt="" width="526" height="497" /><br />
      <strong><%= name18 %></strong>, <%= desc18 %></p>
    <p><img class="painting" title="<%=name19%>" src="img/Kommando.jpg" alt="" width="526" height="749" /><br />
      <strong><%= name19 %></strong>, <%= desc19 %></p>
  </div>
</div>
