<div id="template">
  <div id="painting">
    <p><img class="painting-topmost" title="<%=name27%>" src="img/Keskella_kirkasta_paivaa.jpg" alt="" width="526" height="405" /><br />
      <strong><%= name27 %></strong>, <%= desc27 %> </p>
    <p><img class="painting" title="<%=name25%>" src="img/Voittaja.jpg" alt="" width="526" height="413" /><br />
      <strong><%= name25 %></strong>, <%= desc25 %> </p>
    <p><img class="painting" title="<%=name1%>" src="img/Ihmepelastus.jpg" alt="" width="526" height="637" /><br />
      <strong><%= name1 %></strong>, <%= desc1 %> </p>
    <p><img class="painting" title="<%=name2%>" src="img/poikaystava.jpg" alt="" width="526" height="715" /><br />
      <strong><%= name2 %></strong>, <%= desc2 %></p>
    <p><img class="painting" title="<%=name4%>" src="img/Hawaiji.jpg" alt="" width="526" height="535" /><br />
      <strong><%= name4 %></strong>, <%= desc4 %></p>
    <p><img class="painting" title="<%=name5%>" src="img/Tuhma.jpg" alt="" width="526" height="437" /><br />
      <strong><%= name5 %></strong>, <%= desc5 %></p>
    <p><img class="painting" title="<%=name6%>" src="img/Matti-hyppasi-sumuun1.jpg" alt="" width="526" height="407" /><br />
      <strong><%= name6 %></strong>, <%= desc6 %></p>
    <p><img class="painting" title="<%=name8%>" src="img/Danny-nuorena11.jpg" alt="" width="526" height="435" /><br />
      <strong><%= name8 %></strong>, <%= desc8 %></p>
    <p><img class="painting" title="<%=name9%>" src="img/Tappajahai.jpg" alt="" width="526" height="520" /><br />
      <strong><%= name9 %></strong>, <%= desc9 %></p>
    <p><img class="painting" title="<%=name10%>" src="img/nettisivuille-rosvo.jpg" alt="" width="526" height="395" /><br />
      <strong><%= name10 %></strong>, <%= desc10 %></p>
    <p><img class="painting" title="<%=name11%>" src="img/Juha-on-syyllinensivuille1.jpg" alt="" width="526" height="689" /><br />
      <strong><%= name11 %></strong>, <%= desc11 %></p>
  </div>
</div>
