<div id="template">
  <div id="painting">
    <p><img class="painting-topmost" title="<%=name38%>" src="img/2014/Hoitajat_sivuille.jpg" alt="" width="526" height="427" /><br />
      <strong><%= name38 %></strong>, <%= desc38 %> </p>
    <p><img class="painting" title="<%=name37%>" src="img/2014/yksityissaari_sivuille.jpg" alt="" width="526" height="424" /><br />
      <strong><%= name37 %></strong>, <%= desc37 %> </p>
    <p><img class="painting" title="<%=name36%>" src="img/2014/Military_inspired_sivuille.jpg" alt="" width="526" height="667" /><br />
      <strong><%= name36 %></strong>, <%= desc36 %> </p>
    <p><img class="painting" title="<%=name35%>" src="img/2014/tankki_Sivuille.jpg" alt="" width="526" height="367" /><br />
      <strong><%= name35 %></strong>, <%= desc35 %> </p>
    <p><img class="painting" title="<%=name34%>" src="img/2014/Voitonjuhlat_sivuille.jpg" alt="" width="526" height="415" /><br />
      <strong><%= name34 %></strong>, <%= desc34 %> </p>
    <p><img class="painting" title="<%=name32%>" src="img/2014/Mies_ja_pyssy_sivuille.jpg" alt="" width="526" height="714" /><br />
      <strong><%= name32 %></strong>, <%= desc32 %> </p>
    <p><img class="painting" title="<%=name33%>" src="img/2014/Maastossa_Sivuille.jpg" alt="" width="526" height="416" /><br />
      <strong><%= name33 %></strong>, <%= desc33 %> </p>
    <p><img class="painting" title="<%=name31%>" src="img/2014/The Suspect_s.jpg" alt="" width="526" height="370" /><br />
      <strong><%= name31 %></strong>, <%= desc31 %> </p>
    <p><img class="painting" title="<%=name30%>" src="img/2014/Setting_s.jpg" alt="" width="526" height="335" /><br />
      <strong><%= name30 %></strong>, <%= desc30 %> </p>
    <p><img class="painting" title="<%=name29%>" src="img/2014/composition_s.jpg" alt="" width="526" height="309" /><br />
      <strong><%= name29 %></strong>, <%= desc29 %> </p>
  </div>
</div>
