<div id="template">
  <div id="painting">
    <p><img class="painting" title="<%=name35%>" src="img/2014/tankki_Sivuille.jpg" alt="" width="526" height="367" /><br />
      <strong><%= name35 %></strong>, <%= desc35 %> </p>
    <p><img class="painting" title="<%=name34%>" src="img/2014/Voitonjuhlat_sivuille.jpg" alt="" width="526" height="415" /><br />
      <strong><%= name34 %></strong>, <%= desc34 %> </p>
    <p><img class="painting" title="<%=name32%>" src="img/2014/Mies_ja_pyssy_sivuille.jpg" alt="" width="526" height="714" /><br />
      <strong><%= name32 %></strong>, <%= desc32 %> </p>
    <p><img class="painting" title="<%=name33%>" src="img/2014/Maastossa_Sivuille.jpg" alt="" width="526" height="416" /><br />
      <strong><%= name33 %></strong>, <%= desc33 %> </p>
    <p><img class="painting" title="<%=name31%>" src="img/2014/The Suspect_s.jpg" alt="" width="526" height="370" /><br />
      <strong><%= name31 %></strong>, <%= desc31 %> </p>
    <p><img class="painting" title="<%=name30%>" src="img/2014/Setting_s.jpg" alt="" width="526" height="335" /><br />
      <strong><%= name30 %></strong>, <%= desc30 %> </p>
    <p><img class="painting" title="<%=name29%>" src="img/2014/composition_s.jpg" alt="" width="526" height="309" /><br />
      <strong><%= name29 %></strong>, <%= desc29 %> </p>
    <p><img class="painting" title="<%=name27%>" src="img/Keskella_kirkasta_paivaa.jpg" alt="" width="526" height="405" /><br />
      <strong><%= name27 %></strong>, <%= desc27 %> </p>
    <p><img class="painting" title="<%=name25%>" src="img/Voittaja.jpg" alt="" width="526" height="413" /><br />
      <strong><%= name25 %></strong>, <%= desc25 %> </p>
    <p><img class="painting" title="<%=name4%>" src="img/Hawaiji.jpg" alt="" width="526" height="535" /><br />
      <strong><%= name4 %></strong>, <%= desc4 %></p>
    <p><img class="painting" title="<%=name5%>" src="img/Tuhma.jpg" alt="" width="526" height="437" /><br />
      <strong><%= name5 %></strong>, <%= desc5 %></p>
    <p><img class="painting" title="<%=name6%>" src="img/Matti-hyppasi-sumuun1.jpg" alt="" width="526" height="407" /><br />
      <strong><%= name6 %></strong>, <%= desc6 %></p>
    <p><img class="painting" title="<%=name8%>" src="img/Danny-nuorena11.jpg" alt="" width="526" height="435" /><br />
      <strong><%= name8 %></strong>, <%= desc8 %></p>
    <p><img class="painting" title="<%=name9%>" src="img/Tappajahai.jpg" alt="" width="526" height="520" /><br />
      <strong><%= name9 %></strong>, <%= desc9 %></p>
    <p><img class="painting" title="<%=name10%>" src="img/nettisivuille-rosvo.jpg" alt="" width="526" height="395" /><br />
      <strong><%= name10 %></strong>, <%= desc10 %></p>
    <p><img class="painting" title="<%=name11%>" src="img/Juha-on-syyllinensivuille1.jpg" alt="" width="526" height="689" /><br />
      <strong><%= name11 %></strong>, <%= desc11 %></p>
    <p><img class="painting-topmost" title="<%=name13%>" src="img/Jaws.jpg" alt="" width="526" height="644" /><br />
      <strong><%= name13 %></strong>, <%= desc13 %></p>
    <p><img class="painting" title="<%=name14%>" src="img/Late.jpg" alt="" width="526" height="739" /><br />
      <strong><%= name14 %></strong>, <%= desc14 %></p>
    <p><img class="painting" title="<%=name15%>" src="img/bemmi.jpg" alt="" width="526" height="402" /><br />
      <strong><%= name15 %></strong>, <%= desc15 %></p>
    <p><img class="painting" title="<%=name16%>" src="img/Takapenkki.jpg" alt="" width="526" height="438" /><br />
      <strong><%= name16 %></strong>, <%= desc16 %></p>
    <p><img class="painting" title="<%=name17%>" src="img/ajojahti.jpg" alt="" width="526" height="550" /><br />
      <strong><%= name17 %></strong>, <%= desc17 %></p>
    <p><img class="painting" title="<%=name18%>" src="img/Osuma.jpg" alt="" width="526" height="497" /><br />
      <strong><%= name18 %></strong>, <%= desc18 %></p>
    <p><img class="painting" title="<%=name19%>" src="img/Kommando.jpg" alt="" width="526" height="749" /><br />
      <strong><%= name19 %></strong>, <%= desc19 %></p>
  </div>
</div>
