<div id="template">
    <div class="text-content span8">
        <h4>
            <%= Studies %>
        </h4>

        <p>
            <span class="year"><%= stud1_year %></span><span class="cv-desc"><%= stud1_desc %></span>
            <span class="year"><%= stud2_year %></span><span class="cv-desc"><%= stud2_desc %></span>
            <span class="year"><%= stud3_year %></span><span class="cv-desc"><%= stud3_desc %></span>
        </p>

        <h4>
            <%= Upcoming %>
        </h4>
        <p> <span class="upcoming-year"><%= upcomingEx1_date %></span><span class="upcoming-desc"><%= upcomingEx1_desc %></span>
            <span class="upcoming-year"><%= upcomingEx2_date %></span><span class="upcoming-desc2"><%= upcomingEx2_desc %></span>

             </p>

        <h4>
            <%= SoloExhibitions %>
        </h4>
        <p>
            <span class="year"><%= soloEx1_year %></span><span class="cv-desc"><%= soloEx1_desc %></span>
        </p>

        <h4>
            <%= GroupExhibitions %>
        </h4>

        <p>
            <span class="year"><%= groupEx12_year %></span><span class="cv-desc"><%= groupEx12_desc %></span>
            <span class="year"><%= groupEx11_year %></span><span class="cv-desc"><%= groupEx11_desc %></span>
            <span class="year"><%= groupEx10_year %></span><span class="cv-desc"><%= groupEx10_desc %></span>
            <span class="year"><%= groupEx1_year %></span><span class="cv-desc"><%= groupEx1_desc %></span>
            <span class="year"><%= groupEx2_year %></span><span class="cv-desc"><%= groupEx2_desc %></span>
            <span class="year"><%= groupEx3_year %></span><span class="cv-desc"><%= groupEx3_desc %></span>
            <span class="year"><%= groupEx4_year %></span><span class="cv-desc"><%= groupEx4_desc %></span>
            <span class="year"><%= groupEx5_year %></span><span class="cv-desc"><%= groupEx5_desc %></span>
            <span class="year"><%= groupEx6_year %></span><span class="cv-desc"><%= groupEx6_desc %></span>
            <span class="year"><%= groupEx7_year %></span><span class="cv-desc"><%= groupEx7_desc %></span>
            <span class="year"><%= groupEx8_year %></span><span class="cv-desc"><%= groupEx8_desc %></span>
            <span class="year"><%= groupEx9_year %></span><span class="cv-desc"><%= groupEx9_desc %></span>
        </p>

        <h4>
            <%= Events %>
        </h4>

        <p>
            <span class="year"><%= event1_year %></span><span class="cv-desc"><%= event1_desc %></span>
            <span class="year"><%= event2_year %></span><span class="cv-desc"><%= event2_desc %></span>
        </p>

        <h4>
            <%= Residencies %>
        </h4>
        <p>
            <span class="year"><%= residence1_year %></span><span class="cv-desc"><%= residence1_desc %></span>
        </p>

        <h4>
            <%= Memberships %>
        </h4>

        <p>
            <%= membership1 %> <br/>
            <%= membership2 %>
        </p>
    </div>
</div>