<div id="template">
    <div id="painting">
        <p><img class="painting" title="<%=name31%>" src="img/2014/Etusivulle_epailty.jpg" alt="" width="434" height="500" /><br />
        </p>
        <!--<p><img class="painting" title="<%=name30%>" src="img/2014/ETUSIVUNKUVA.jpg" alt="" width="600" height="418" /><br />-->
        <!--</p>-->
        <!--<p><img class="painting-topmost" title="<%=name31%>" src="img/The Suspect_s.jpg" alt="" width="526" height="370" /><br />-->
            <!--<strong><%= name31 %></strong>, <%= desc31 %> </p>-->
        <!--<p><img class="painting" title="<%=name30%>" src="img/Setting_s.jpg" alt="" width="526" height="335" /><br />-->
            <!--<strong><%= name30 %></strong>, <%= desc30 %> </p>-->
        <!--<p><img class="painting" title="<%=name29%>" src="img/composition_s.jpg" alt="" width="526" height="309" /><br />-->
            <!--<strong><%= name29 %></strong>, <%= desc29 %> </p>-->
        <!--<p><img class="painting" title="<%=name28%>" src="img/Road_Trip.jpg" alt="" width="526" height="382" /><br />-->
            <!--<strong><%= name28 %></strong>, <%= desc28 %> </p>-->
        <!--<p><img class="painting" title="<%=name27%>" src="img/Keskella_kirkasta_paivaa.jpg" alt="" width="526" height="405" /><br />-->
            <!--<strong><%= name27 %></strong>, <%= desc27 %> </p>-->
        <!--<p><img class="painting" title="<%=name26%>" src="img/Tahdon_I_Do.jpg" alt="" width="526" height="522" /><br />-->
            <!--<strong><%= name26 %></strong>, <%= desc26 %> </p>-->
        <!--<p><img class="painting" title="<%=name25%>" src="img/Voittaja.jpg" alt="" width="526" height="413" /><br />-->
            <!--<strong><%= name25 %></strong>, <%= desc25 %> </p>-->
        <!--<p><img class="painting" title="<%=name24%>" src="img/Skandaali.jpg" alt="" width="526" height="424" /><br />-->
            <!--<strong><%= name24 %></strong>, <%= desc24 %> </p>-->
        <!--<p><img class="painting" title="<%=name1%>" src="img/Ihmepelastus.jpg" alt="" width="526" height="637" /><br />-->
            <!--<strong><%= name1 %></strong>, <%= desc1 %> </p>-->
        <!--<p><img class="painting" title="<%=name2%>" src="img/poikaystava.jpg" alt="" width="526" height="715" /><br />-->
            <!--<strong><%= name2 %></strong>, <%= desc2 %></p>-->
        <!--<p><img class="painting" title="<%=name4%>" src="img/Hawaiji.jpg" alt="" width="526" height="535" /><br />-->
            <!--<strong><%= name4 %></strong>, <%= desc4 %></p>-->
        <!--<p><img class="painting" title="<%=name5%>" src="img/Tuhma.jpg" alt="" width="526" height="437" /><br />-->
            <!--<strong><%= name5 %></strong>, <%= desc5 %></p>-->
        <!--<p><img class="painting" title="<%=name6%>" src="img/Matti-hyppasi-sumuun1.jpg" alt="" width="526" height="407" /><br />-->
            <!--<strong><%= name6 %></strong>, <%= desc6 %></p>-->
        <!--<p><img class="painting" title="<%=name7%>" src="img/Kimilla-on-hienot-lasit1.jpg" alt="" width="526" height="387" /><br />-->
            <!--<strong><%= name7 %></strong>, <%= desc7 %></p>-->
        <!--<p><img class="painting" title="<%=name8%>" src="img/Danny-nuorena11.jpg" alt="" width="526" height="435" /><br />-->
            <!--<strong><%= name8 %></strong>, <%= desc8 %></p>-->
        <!--<p><img class="painting" title="<%=name9%>" src="img/Tappajahai.jpg" alt="" width="526" height="520" /><br />-->
            <!--<strong><%= name9 %></strong>, <%= desc9 %></p>-->
        <!--<p><img class="painting" title="<%=name10%>" src="img/nettisivuille-rosvo.jpg" alt="" width="526" height="395" /><br />-->
            <!--<strong><%= name10 %></strong>, <%= desc10 %></p>-->
        <!--<p><img class="painting" title="<%=name11%>" src="img/Juha-on-syyllinensivuille1.jpg" alt="" width="526" height="689" /><br />-->
            <!--<strong><%= name11 %></strong>, <%= desc11 %></p>-->
        <!--<p><img class="painting" title="<%=name13%>" src="img/Jaws.jpg" alt="" width="526" height="644" /><br />-->
            <!--<strong><%= name13 %></strong>, <%= desc13 %></p>-->
        <!--<p><img class="painting" title="<%=name14%>" src="img/Late.jpg" alt="" width="526" height="739" /><br />-->
            <!--<strong><%= name14 %></strong>, <%= desc14 %></p>-->
        <!--<p><img class="painting" title="<%=name15%>" src="img/bemmi.jpg" alt="" width="526" height="402" /><br />-->
            <!--<strong><%= name15 %></strong>, <%= desc15 %></p>-->
        <!--<p><img class="painting" title="<%=name16%>" src="img/Takapenkki.jpg" alt="" width="526" height="438" /><br />-->
            <!--<strong><%= name16 %></strong>, <%= desc16 %></p>-->
        <!--<p><img class="painting" title="<%=name17%>" src="img/ajojahti.jpg" alt="" width="526" height="550" /><br />-->
            <!--<strong><%= name17 %></strong>, <%= desc17 %></p>-->
        <!--<p><img class="painting" title="<%=name18%>" src="img/Osuma.jpg" alt="" width="526" height="497" /><br />-->
            <!--<strong><%= name18 %></strong>, <%= desc18 %></p>-->
        <!--<p><img class="painting" title="<%=name19%>" src="img/Kommando.jpg" alt="" width="526" height="749" /><br />-->
            <!--<strong><%= name19 %></strong>, <%= desc19 %></p>-->
        <!--<p><img class="painting" title="<%=name21%>" src="img/talo.jpg" alt="" width="526" height="477" /><br />-->
            <!--<strong><%= name21 %></strong>, <%= desc21 %></p>-->
    </div>
</div>

